{% extends 'base.html' %}

{% block conteudo %}
<div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="mt-5">{{ contato.nome }}</h1>
        <dl>
          <dt>ID</dt>
          <dd>{{ contato.id }}</dd>

          <dt>Telefone</dt>
          <dd>{{ contato.telefone }}</dd>

          <dt>E-mail</dt>
          <dd>{{ contato.email }}</dd>

          <dt>Data criação</dt>
          <dd>20/04/1990</dd>

          <dt>Categoria</dt>
          <dd>{{ contato.categoria }}</dd>

          <dt>Descrição</dt>
          <dd>
            {{ contato.descricao }}
          </dd>
        </dl>

      </div>
    </div>
  </div>

{% endblock %}